<!-- inventory/templates/update_buyer.html -->
{% extends 'base.html' %}
{% block title %}Update Buyer{% endblock %}
{% block content %}
    <h1>Update Buyer</h1>
    <form method="POST" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="contact" class="form-label">Contact</label>
            {{ form.contact }}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Update Buyer</button>
        <a href="{% url 'stock_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}